
<!--
  ~ Copyright (c) 2022. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  ~ Morbi non lorem porttitor neque feugiat blandit. Ut vitae ipsum eget quam lacinia accumsan.
  ~ Etiam sed turpis ac ipsum condimentum fringilla. Maecenas magna.
  ~ Proin dapibus sapien vel ante. Aliquam erat volutpat. Pellentesque sagittis ligula eget metus.
  ~ Vestibulum commodo. Ut rhoncus gravida arcu.
  -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phj233.mybatis.mappers.OrderMapper">
    <insert id="insertOrder" useGeneratedKeys="true" keyProperty="oid">
        insert into info_order values (null,#{uid},#{status},#{date},#{phone},#{price},#{address})
    </insert>
    <select id="selectOrderById" resultType="com.phj233.pojo.Order">
        select * from info_order where oid = #{oid}
    </select>
    <select id="selectOrderByUid" resultType="com.phj233.pojo.Order">
        select * from info_order where uid = #{uid}
    </select>
    <update id="updateOrder">
        update info_order set uid=#{uid},status=#{status},date=#{date},phone=#{phone},price=#{price},address=#{address} where oid=#{oid}
    </update>
    <delete id="deleteOrder">
        delete from info_order where oid = #{oid}
    </delete>
</mapper>