<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phj233.mybatis.mappers.UserMapper">
    <!--int insertUser();-->
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="uid">
        insert into info_user values(null,#{username},#{password},#{email},#{is_admin})
    </insert>
    <select id="getUserList" resultType="com.phj233.pojo.User">
        select * from info_user
    </select>
    <select id="getUserAdminByEmail" resultType="Boolean">
        select is_admin from info_user where email = #{email}
    </select>
    <select id="getUserAdminByUsername" resultType="Boolean">
        select is_admin from info_user where username=#{username}
    </select>
    <select id="getUserById" resultType="com.phj233.pojo.User">
        select * from info_user where uid = #{uid}
    </select>
    <select id="selectUserByName" resultType="com.phj233.pojo.User">
        select * from info_user where username = #{username}
    </select>
    <select id="checkLogin" resultType="Boolean">
        select * from info_user where (username = #{username} or email=#{username}) and password = #{password}
    </select>
    <update id="updateUser">
        update info_user set email=#{email},username=#{username},password=#{password},is_admin=#{is_admin} where uid=#{uid}
    </update>
    <delete id="deleteUser">
        delete from info_user where uid = #{uid}
    </delete>
</mapper>