/* CQV studio by lixinsheng */

html { font-family:"Microsoft Yahei";}
.denglubg{ background-image:url(../images/bg.png)}
.layout .line .x10 .x3{ padding:5px;}
.layout .line .x10 .x3 img {display:block; height: 300px; }
.layout .line .x10 .x3 .media>a{ height:300px; display: block;}
}

















